{% extends 'movie/base.html' %}
{% block body %}

            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="{{ object.banner }}" class="img-responsive img-rounded">
                         <h2>{{ object.title }}</h2>
                         <h4>{{ object.release_date }}</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
            <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="{{ object.video_link }}"></iframe>
                        </div>
                    </div>
                </div>
            </div>


{% endblock %}

